<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Obfuscation Results</title>
        <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            var total = $("#total");
            var samples
            $.getJSON('/detail',function(result){
                $.each(result, function(k, v){
                    total.text('# ' + v + ' Samples')
                    samples=v;
                });
                var i=0
                $.getJSON('/o/results',function(result){
                    $.each(result, function(k, v){
                        option.xAxis.categories.push(k);
                        option.series[0].data.push({y:v,color:colors[i]});
                        i++;
                    });
                    var chart = new Highcharts.Chart(option);
                });
            });
            Highcharts.theme = {
                colors: ['#3498DB', '#2ECC71', '#9B59B6', '#F1C40F', '#E74C3C', '#34495E', '#1ABC9C', '#95A5A6', '#E67E22' ,'#000'],
            };
            var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
            var colors = Highcharts.getOptions().colors;
            var option = {

                chart: {
                    renderTo: 'container',
                    type: 'column' ,
                    marginTop: 60
                },
                title: {
                    text: 'Permission'
                },
                subtitle: {
                    text: 'which obfuscation uses more in apps'
                },
                xAxis: {
                    categories: [],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Apks',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    borderRadius: 10,
                    borderWidth: 2,
                    formatter: function() {
                        var s
                        s ='<b>'+this.x+': </b>'+this.y+' apks<br/>'+Math.round(this.y/samples*100)+'% apps using this obfuscation';
                        return s;
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true,
                            formatter: function() {
                                return Math.round(this.y/samples*100) +' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                exporting:{
                    enabled:false
                },
                series: [{
                    name: 'Usage',
                    data: [],
                    color:colors[3]
                }]
            };
        });
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Obfuscation Results" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    </head>
    <body>
	    <script src="/static/js/highcharts.js"></script>
		<script src="/static/js/unuse/modules/exporting.js"></script>
        <div class="container">
        <section class="cn-container">
          <div class="cn-slide" id="slide-2-2">
                      <header>
                          <h1>Android Application <span> #Report</span></h1>
                          <h2>for learning more about your Android smart device security</h2>
                      </header>
            <h3>Obfuscation</h3>
            <a href="javascript:self.close()" class="cn-back">Back</a>
            <div class="cn-content">
              <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
            </div>
            <span class="cn-note-total" id='total'></span>
            <footer class="cn-note">
                <p class="pull-right"><a href="#slide-2-2">Back to top</a></p>
                <p>Copyright &copy; 2016 HT All Rights Reserved.</p>
            </footer>
          </div>
        </section>
        </div>

    </body>
</html>