<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Loading</title>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {


        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Loading" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
</head>
<body>
<div class="container">
    <!--[if lte IE 9]>
			<p style="font-size: 20px; padding: 50px;">Sorry, this only works in modern browsers...</p>
			<![endif]-->
    <section class="cn-container">
        <header>
            <h1>Please <span> Wait...</span></h1>
            <h2>We are analyzing your apk file, it will take about 1 minute or less</h2>
        </header>
        <section class="main">
            <div class="pre-loader"></div>
        </section>
    </section>
</div>
<p></p>

</body>
</html>